/* Weather.css */

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.card {
  background-color: #6da5a2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  position: relative;
  padding: 50px;
}



.logo {
  position: absolute;
  top: 0.5px; /* Adjust the top position based on your preference */
  left: 50%;
  transform: translateX(-50%);
  width: 150px; /* Adjust the width based on your preference */
  z-index: 1; /* Ensure the logo is above other elements */
}

.overlay {
  z-index: 0; /* Set a lower z-index to place the overlay below the logo */
  padding: 20px;
}

.city {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

h1{
  margin-top: px;
}
.temperature {
  font-size: 36px;
  margin-bottom: 10px;
  color: #000000;
}

.weather-condition {
  font-size: 25px;
  color: #000000;
}

.search-bar {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    width: 80%;
  }

 
}
